<a href="https://colab.research.google.com/github/patternproject/r.sb.pivotReqts/blob/main/Answer_Sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Read Me

### This sheet does nothing, more than creating a data frame (required) which I posted on the RStudio Help Website to get more help

### Previous post (https://community.rstudio.com/t/pivot-or-separate/111225) got the count of customer, this is to ask for names of all the customers asking that reqt

In [1]:
reqts <- c('beauty soap', 'detergent', 'hair shampoo', 'hand and body sanitizer' )

In [3]:
customer_count <- c(1,1,2,1)

In [4]:
customer_name <- c('Alpha','Beta','Alpha,Beta','Beta')

In [6]:
df_  <- data.frame(reqts = reqts, customer_count = customer_count, customer_name = customer_name)

In [7]:
df_

  reqts                   customer_count customer_name
1 beauty soap             1              Alpha
2 detergent               1              Beta
3 hair shampoo            2              Alpha,Beta
4 hand and body sanitizer 1              Beta

In [8]:
dput(df_)

structure(list(reqts = c("beauty soap", "detergent", "hair shampoo",
"hand and body sanitizer"), customer_count = c(1, 1, 2, 1), customer_name = c("Alpha",
"Beta", "Alpha,Beta", "Beta")), class = "data.frame", row.names = c(NA,
-4L))