# Read Me

## At SB we are collecting requirements coming in from each customer. The requirements prioritization process requires knowing how many customers are asking for each

## This code does a kind-of-pivot

## See here for details and reference

### https://community.rstudio.com/t/pivot-or-separate/111225/4

In [1]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
df_1 = read_csv('/content/OKR - 2021 Q2 - v 2 6 1-Features.csv',col_names = TRUE)

── Column specification ────────────────────────────────────────────────────────
cols(
  Status = col_character(),
  Customer = col_character(),
  POS = col_character(),
  LOC = col_character(),
  COMMENTS = col_character()
)

In [3]:
df_1 %>% select(Customer,COMMENTS) -> df_2

In [4]:
head(df_2)

  Customer
1 Aromaish
2 Rembrandts
3 Lok Virsa
4 Abib Mart
5 Haji Iftikhar
6 Muhammadi Store
  COMMENTS
1 Receipts, Change in Customer Creation Form, Reflect Delivery Charges in Sales Report, Bugs
2 Receipts, API Change, Barcode Printing
3 Receipts, Offline Shift Mgmt, Commission Report
4 Inventory Performance, Bugs
5 NA
6 Barcode Printing

In [5]:
df_2 %>%  separate_rows(COMMENTS, sep = ",\\s") %>% count(COMMENTS, name = "customer_count")

   COMMENTS                                 customer_count
1  API Change                               1
2  Barcode Printing                         2
3  Bugs                                     2
4  Business Expenses                        1
5  Change in Customer Creation Form         1
6  Commission Report                        1
7  Configurable Time for Order Cancellation 1
8  Inventory Performance                    1
9  LOV for Order Cancellation               1
10 Mock Website                             1
11 Non-Saleable Item                        1
12 Offline Shift Mgmt                       1
13 Order Management                         1
14 Product Variants                         1
15 Receipts                                 3
16 Recipe Management                        3
17 Reflect Delivery Charges in Sales Report 1
18 Sale based on Product Weight             1
19 Stock Issuance + Multi Branch            2
20 Weighing Scale Integration               1
21 NA                                       8

In [7]:
write_csv(df_3,'output')

ERROR: ignored